.switch-wrapper {
  display: flex;
  align-items: center;
}

.switch-wrapper .switch {
  width: 3.1rem;
  height: 1.55rem;
  border-radius: 0.75rem;
  background: var(--gray200);
  position: relative;
  cursor: pointer;
  padding: 0.2rem;
}
.switch::before {
  content: 'Night Mode';
  position: absolute;
  right: 3.625rem;
  margin: 0;
  font-size: 0.8125rem;
  line-height: 150%;
  font-weight: 400;
  white-space: nowrap;
  color: var(--gray300);
  cursor: default;
}
.checkbox {
  opacity: 0;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  cursor: pointer;
}

.checkbox + .switch__ball {
  display: block;
  width: calc(50% - 0.2rem);
  height: 100%;
  background: var(--bg-sec);
  border-radius: 50%;
  transition: 0.25s;
  position: relative;
  z-index: 0;

  /* Switcher state */
  transform: translateX(0rem);
}

/* Switcher active */
.checkbox:checked + .switch__ball {
  transform: translateX(calc(100% + 0.3rem));
}

.checkbox:checked + .switch {
  background: var(---blue700);
}

@media screen and (max-width: 480px) {
  .switch::before {
    right: 0;
    left: 0;
    top: 2rem;
    margin: 0;
    font-size: 0.6rem;
    line-height: 150%;
    font-weight: 400;
    white-space: nowrap;
    color: var(--gray300);
  }
}
