.task {
  position: relative;
  width: 100%;
  background: var(--bg-sec);
  padding: 1.25rem 1.25rem;
  border-radius: var(--radius-8);
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 0;
  box-shadow: var(--card-shadow);
  transition: 0.5s;
  cursor: grab;
}

.task:hover {
  box-shadow: var(--card-hover);
}

.task__header {
  color: var(--blue700);
  border-radius: var(--radius-6);
  max-width: calc(100% - 2.5rem);
  margin: 0 0 0.75rem;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.task__description {
  font-family: inherit;
  margin: 0;
  line-height: 150%;
  font-weight: 400;
  width: 100%;
  white-space: pre-wrap;
  word-wrap: break-word;
  color: var(--text);
}
