.addLink {
  display: flex;
  align-items: center;
  margin: 1.5rem 0 0;
  padding: 0;
  background: none;
  border: none;
  color: var(--gray400);
}

.addLink:hover {
  color: var(--blue700);
}

.addLink__icon {
  margin: 0 0.75rem 0 0;
}

@media screen and (max-width: 768px) {
  .addLink {
    display: none;
  }
}
