.option__button {
  top: 1.25rem;
  right: 1.25rem;
  position: absolute;
  display: flex;
  padding: 0;
  background: none;
  border: none;
  color: var(--gray300);
}

.option__button.hide {
  visibility: hidden;
  opacity: 0;
}

.option__button:hover {
  color: var(--gray500);
}
