.App {
  display: flex;
  background-color: var(--bg);
}

.wrapper {
  width: 100%;
  padding: 1rem;
}
main {
  padding: 2rem 3rem 3rem 23rem;
}

nav {
  position: absolute;
  height: calc(100% - 1rem * 2);
  width: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 1;
  background-color: var(--bg-sec);
  border-radius: var(--radius-8);
  padding: 2rem;
  box-shadow: var(--menu-shadow);
}

hr {
  border: none;
  height: 1px;
  background: var(--gray100);
}

.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.menu__logo {
  margin: 0 0 2rem;
}
.menu__point {
  position: relative;
}

.menu a {
  text-decoration: none;
  display: flex;
  align-items: center;
  margin: 0 0 1.5rem;
}

.menu__icon {
  margin-right: 0.75rem;
}

.menu__toggle {
  width: 0.125rem;
  height: 1.5rem;
  background: var(--blue700);
  border-top-right-radius: 0.125rem;
  border-bottom-right-radius: 0.125rem;
  position: absolute;
  left: -2rem;
  transition: 0.4s;
}

.menu__toggle_bottom {
  transform: translateY(3rem);
}

.active-route {
  color: var(--blue700);
}
.active-route::before {
  content: '';
  width: 0.125rem;
  height: 1.5rem;
  background: var(--blue700);
  border-top-right-radius: 0.125rem;
  border-bottom-right-radius: 0.125rem;
  position: absolute;
  left: -2rem;
}
.inactive-route {
  color: var(--gray400);
}

.inactive-route:hover {
  color: var(--gray500);
}

.auth {
  color: var(--gray300);
}

.auth__route {
  font-size: 1rem;
  line-height: 150%;
  font-weight: 500;
  margin: 0;
  padding: 0;
  display: inline-block;
  color: var(--blue700);
  padding: 0 0.3rem;
}

.auth__route:hover {
  color: var(--blue900);
}

.switcher {
  position: absolute;
  right: 3rem;
  top: 3rem;
}
