@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  --radius-8: 0.5rem;
  --radius-6: 0.375rem;
  --blue700: #0f6bf3;
  --blue800: #055cdf;
  --blue900: #0552c7;
  --blue100: rgb(6%, 42%, 95%, 10%);
  --white: #ffffff;
  --gray100-50: rgb(89%, 91%, 93%, 50%);
  --gray100: #e4e8ed;
  --gray200: #d1d9e4;
  --gray300: #9cacc5;
  --gray400: #7083a0;
  --gray500: #596577;
  --text: #545960;
  --black: #383d45;
  --pop-up-color: rgb(56, 61, 69, 0.3);
  --menu-shadow: 0px 0px 36px rgba(174, 192, 208, 0.16);
  --card-shadow: 0px 5px 12px rgba(112, 134, 154, 0.04);
  --card-hover: 0px 5px 12px rgba(112, 134, 154, 0.16);
  --tooltip-shadow: 0px 0px 14px rgba(174, 192, 208, 0.44);
  --drag-n-drop-shadow: 0px 6px 32px 16px rgba(112, 134, 154, 0.16);
  --pop-up: 0px 0px 30px rgba(174, 192, 208, 0.24);
}

body {
  font-family: 'Poppins', Verdana, sans-serif;
  height: 100%;
  padding: 1rem;
  margin: 0;
  overflow: hidden;
  background-color: #f8f8fa;
}

h1 {
  font-size: 2rem;
  line-height: 130%;
  font-weight: 500;
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 1.25rem;
  line-height: 150%;
  font-weight: 500;
  margin: 0;
  padding: 0;
}

h3 {
  font-size: 1rem;
  line-height: 170%;
  font-weight: 300;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

h4 {
  font-size: 1rem;
  line-height: 150%;
  font-weight: 500;
  margin: 0;
  padding: 0;
}

h5 {
  font-size: 0.875rem;
  line-height: 150%;
  font-weight: 500;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  font-size: 1rem;
  line-height: 150%;
  font-weight: 400;
}

p1 {
  margin: 0;
  font-size: 1rem;
  line-height: 130%;
  font-weight: 500;
}

p2 {
  margin: 0;
  font-size: 0.875rem;
  line-height: 150%;
  font-weight: 500;
}

p3 {
  margin: 0;
  font-size: 0.875rem;
  line-height: 150%;
  font-weight: 400;
}

p4 {
  margin: 0;
  font-size: 0.75rem;
  line-height: 130%;
  font-weight: 500;
}

p5 {
  margin: 0;
  font-size: 0.75rem;
  line-height: 150%;
  font-weight: 400;
}

button,
a,
input {
  font-family: inherit;
  cursor: pointer;
  transition: 0.5s;
}

input {
  cursor: text;
}
